#!/usr/bin/env bash
# {{ .chartName }} Deploy Script:
#   created: {{ .buildDateTime }}
#   commit: {{ .commit }}
#   ref: {{ .ref }} {{ .ref_type }}
#   repository: {{ .repository }}
#   generator: {{ .run }}

cat << 'EOF' > image-download-{{ .commit }}.sh
#!/usr/bin/env bash

NEXUS_USERNAME="$(kubectl -n nexus get secret nexus-admin-credential --output json | jq -r .data.username | base64 -d)"
NEXUS_PASSWORD="$(kubectl -n nexus get secret nexus-admin-credential --output json | jq -r .data.password | base64 -d)"
echo "Downloading remote image {{ .fullImage }} to system registry"
podman run --rm --network host quay.io/skopeo/stable copy --src-tls-verify=false --dest-tls-verify=false \
    docker://{{ .fullImage }} \
    docker://registry.local/{{ .fullImage }} \
    --dest-username "${NEXUS_USERNAME}"  \
    --dest-password "${NEXUS_PASSWORD}"
EOF

cat <<EOF > manifest.raw.{{ .commit }}.yaml
apiVersion: manifests/v1beta1
metadata:
  name: {{ .chartName }}-{{ .commit }}-manifest
spec:
  sources:
    charts:
      - name: csm-algol60
        type: repo
        location: https://artifactory.algol60.net/artifactory/csm-helm-charts
  charts:
    - name: {{ .chartName }}
      source: csm-algol60
      version: "{{ .chartVersion }}"
      namespace: services
EOF

chmod +x ./image-download-{{ .commit }}.sh && ./image-download-{{ .commit }}.sh

kubectl get secrets -n loftsman site-init -o jsonpath='{.data.customizations\.yaml}' | base64 -d > customizations.yaml
manifestgen -i manifest.raw.{{ .commit }}.yaml -c customizations.yaml -o manifest-{{ .chartName }}-{{ .commit }}.yaml

echo "Rendered manifest"
cat ./manifest-{{ .chartName }}-{{ .commit }}.yaml

loftsman ship --manifest-path ./manifest-{{ .chartName }}-{{ .commit }}.yaml
